



      
 

  <h1 align=center>BOOK MY CINEMA </h1>
  
  <div class="card">
      <div class="card-header">
     <!-- <div class="col" style="background-color:lavender;">|</div>  
    <div class="col" style="background-color:orange;">|</div>
    <div class="col" style="background-color:lavender;">|</div>-->

    <app-navigation></app-navigation>
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
           
          
             <!-- <app-movie></app-movie>    -->
             <!-- <app-login></app-login>     -->
            <br>
            <br>
            <br>
            <br>
            <br> 
             <!-- <app-books-root></app-books-root>   -->



              <!-- <app-booking-form></app-booking-form>   -->
                <!-- <app-signup>Loading.........</app-signup>    -->
              <router-outlet>   </router-outlet>
             
               <!-- <div> <app-movie></app-movie></div>   -->

        </div>
        <div class="card-footer text-muted">
                @copyright Book my Cinema {{now | date : 'MM-dd-yyyy hh:mm:ss a'}}
        </div>
    </div>


 










